<div class="user_content">
		<div class="left">
			<div class="avatar">
				<img class="avatar_img" src="{{user.avatar}}" />
			</div>
			<div class="fans">
				<div class="star">
					<div class="num">
						22
					</div>
					<div class="name">
						关注
					</div>
				</div>
				<div class="follow">
					<div class="num">
						11
					</div>
					<div class="name">
						粉丝
					</div>
				</div>
			</div>
			<div class="level">
				<div class="level_name">
					等级
				</div>
				<div class="level_num">
					11
				</div>
			</div>
			<div class="gold">
				<div class="gold_name">
					金币
				</div>
				<div class="gold_num">
					100
				</div>
			</div>
		</div>
		<div class="right">
			<div class="title">
				<h2>个人信息</h2>
			</div>
			<div class="items">
				<div class="name">
					昵称
				</div>
				<div class="value">
					{{user.name}}
				</div>
			</div>
			<div class="items">
				<div class="name">
					电话
				</div>
				<div class="value">
					{{user.phone}}
				</div>
			</div>
			<div class="items">
				<div class="name">
					地址
				</div>
				<div class="value">
					{{user.place}}
				</div>
			</div>
			<div class="items">
				<div class="name">
					个人简介
				</div>
				<div class="value">
					
				</div>
			</div>
            <div class="info">
				<div class="value">
					{{user.info}}
				</div>
			</div>
		</div>
</div>